.col-sm-3
  %h3.general-subtitle
    = t("#{address.address_type}_address")
  %p.general-address
    = "#{address.first_name} #{address.last_name}"
    = link_to t('.edit'), checkout_path(step: :address), class: 'general-edit'
    %br
    = address.address
    %br
    = "#{address.city} #{address.zip_code}"
    %br
    = address.country
    %br
    = t('.phone', phone: address.phone)
