%table.table.table-hover
  %thead
    %tr
      %th
        %span.in-grey-600
          = t('.book')
      %th.col-method
      %th
        %span.in-grey-600
          = t('.price')
      %th
        %span.in-grey-600
          = t('.quantity')
      %th
        %span.in-grey-600
          = t('.total')
  %tbody
    - order.order_items.each do |item|
      %tr
        %td
          .general-img-wrap-table
            = image_tag(item.book.image_url(:small), class: 'cart-img-shadow pull-left')
        %td
          %p.title
            = item.book.title
          %p.in-grey-600.fw-300
            = item.book.short_description
        %td
          %span.font-16.in-gold-500
            = number_to_currency(item.book.price)
        %td
          %span.ml-30
            = item.quantity
        %td
          %span.font-16.in-gold-500
            = number_to_currency(item.subtotal_price)
