.carousel.slide#slider{ 'data-ride': 'carousel' }
  %ol.carousel-indicators
    - newest_books.length.times do |index|
      %li{ class: ('active' if index.zero?), 'data-target': '#slider', 'data-slide-to': index }
  .carousel-inner{ role: 'listbox' }
    - newest_books.each_with_index do |book, index|
      .item{ class: ('active' if index.zero?) }
        .row
          .col-sm-5
            .general-img-wrap
              = image_tag(book.image_url(:medium), alt: book.title, class: 'img-shadow general-thumbnail-img')
          .col-sm-7
            .mb-60
              %h1
                = book.title
              %p.lead
                = book.short_description
              %p.lead.small
                = book.authors_list
              .general-align
                %button.btn.btn-primary.general-position
                  = t('.button.buy_now')
  %a.left.carousel-control{ href: '#slider', role: 'button', 'data-slide': 'prev' }
    %span.icon-prev{ 'aria-hidden': 'true' }
    %span.sr-only
      = t('.button.prev')
  %a.right.carousel-control{ href: '#slider', role: 'button', 'data-slide': 'next' }
    %span.icon-next{ 'aria-hidden': 'true' }
    %span.sr-only
      = t('.button.next')
