= simple_form_for([:address, address], url: addresses_path, method: :post,
                       html: { id: "#{address_type}-address-form" }) do |f|
  = f.hidden_field :address_type, value: address_type
  = f.input :first_name, wrapper_html: { class: ('has-error' if errors&.messages&.key?(:first_name)) } do
    = render partial: 'settings/partials/forms/inputs',
                      locals: { field: :first_name, collection: nil, errors: errors, f: f }
  = f.input :last_name, wrapper_html: { class: ('has-error' if errors&.messages&.key?(:last_name)) } do
    = render partial: 'settings/partials/forms/inputs',
                      locals: { field: :last_name, collection: nil, errors: errors, f: f }
  = f.input :address, wrapper_html: { class: ('has-error' if errors&.messages&.key?(:address)) } do
    = render partial: 'settings/partials/forms/inputs',
                      locals: { field: :address, collection: nil, errors: errors, f: f }
  = f.input :city, wrapper_html: { class: ('has-error' if errors&.messages&.key?(:city)) } do
    = render partial: 'settings/partials/forms/inputs',
                      locals: { field: :city, collection: nil, errors: errors, f: f }
  = f.input :zip_code, wrapper_html: { class: ('has-error' if errors&.messages&.key?(:zip_code)) } do
    = render partial: 'settings/partials/forms/inputs',
                      locals: { field: :zip_code, collection: nil, errors: errors, f: f }
  = f.input :country, prompt: t('.country'),
                      wrapper_html: { class: ('has-error' if errors&.messages&.key?(:country)) } do
    = render partial: 'settings/partials/forms/inputs',
                      locals: { field: :country, collection: countries, errors: errors, f: f }
  = f.input :phone, wrapper_html: { class: ('has-error' if errors&.messages&.key?(:phone)) } do
    = render partial: 'settings/partials/forms/inputs',
                      locals: { field: :phone, collection: nil, errors: errors, f: f }
  = f.button :submit, t('.save')
