.dropdowns.mb-25.visible-xs
  %p.lead.small.mb-10
    = t('.filter_by_category')
  .dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = t('.categories')
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      - categories.each do |category|
        = link_to category.name, books_path(category_id: category.id)
  %p.lead.small.mb-10
    = t('.filters')
  .dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = t('.sort_by')
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      - t('books.partials.sorting.catalog_by').map do |key, value|
        %li
          = link_to value, books_path(category_id: params[:category_id], sort_by: key)
