- order_items.includes([:book]).each do |item|
  .general-cart-item.divider-lg-bottom.mb-30
    %button.close.general-cart-close{ type: 'button', 'aria-label': 'Close' }
      = link_to order_item_path(item.id), method: :delete, class: 'close general-order-close', 'aria-label': 'Close' do
        %span{ 'aria-hidden': 'true' } &times;
    .general-img-wrap-table
      = link_to book_path(item.book) do
        = image_tag(item.book.image_url(:small), class: 'order-img-shadow')
    = link_to item.book.title, book_path(item.book), class: 'title'
    %table.table
      %tr
        %td
          %span.in-grey-600
            = t('.price')
        %td
          %span.font-16.in-gold-500
            = number_to_currency(item.book.price)
      %tr
        %td.vertical-middle
          %span.in-grey-600
            = t('.quantity')
        %td
          .input-group.quantity-controller
            = link_to order_items_path(order_item: { quantity: -1, book_id: item.book.id }),
                                          method: :post, id: 'minus', class: 'input-link' do
              %i.fa.fa-minus.line-heaght-40
            %input.form-control.quantity-input{ type: 'text', value: item.quantity }
            = link_to order_items_path(order_item: { quantity: 1, book_id: item.book.id }),
                                          method: :post, id: 'plus', class: 'input-link' do
              %i.fa.fa-plus.line-heaght-40
      %tr
        %td
          %span.in-grey-600
            = t('.sub_total')
        %td
          %span.font-16.in-gold-500
            = number_to_currency(item.subtotal_price)
