.general-order-wrap
  .row
    .col-sm-4
      - if cart.coupon
        %p.font-16
          = t('.coupon_is_applied')
      -  else
        = simple_form_for(:coupon, url: coupon_path, method: :patch) do |f|
          = f.input :code
          = f.button :submit, t('.apply_coupon'), class: 'btn-primary'
    .col-sm-8
      .res-mr-200.text-center.general-text-right
        %p.in-gold-500.font-18
          = t('.cart_summary')
        %table.general-summary-table.general-summary-table-right.general-text-right
          %tr
            %td
              %p.font-16
                = t('.subtotal')
            %td
              %p.font-16
                = number_to_currency(cart.subtotal_price)
          %tr
            %td
              %p.font-16
                = t('.coupon')
            %td
              %p.font-16
                = number_to_currency(cart.coupon_discount)
          %tr
            %td
              %strong.font-18
                = t('.cart_total')
            %td
              %strong.font-18
                = number_to_currency(cart.order_total)
        .text-center
          = link_to t('.checkout'), checkout_login_path, class: 'btn btn-default mb-20 visible-xs'
.text-center
  = link_to t('.checkout'), checkout_login_path, class: 'btn btn-default mb-20 hidden-xs'
