%main.container.general-main-wrap
  - if @order
    %h1.general-title-margin
      = t('.title')
    .visible-xs
      = render partial: 'orders/partials/mobile/orders', locals: { order_items: @order.order_items }
    .hidden-xs
      = render partial: 'orders/partials/orders', locals: { order_items: @order.order_items }
    = render partial: 'orders/partials/order_summary', locals: { order: @order }
  - else
    = render 'orders/partials/empty_order'
