%main.container
  %h2.text-center
    = t('.title')
  %p
    = t('.header')
    = succeed "," do
      %a{:href => "https://bookstore-rg-turvitan.herokuapp.com/"}
        = t('.brand')
  %p
    = t('.line1')
  %p
    = t('.line2')
  %p
    = t('.line3')
  %p
    = t('.line4')
  %p
    = t('.line5')
  %p
    = t('.line6')
  %p
    = t('.line7')
