%main.container.general-main-wrap
  %h1.general-title-margin
    = t('.title')
  - if @cart.cart_items.blank?
    = render 'carts/partials/empty_cart'
  - else
    .visible-xs
      = render partial: 'carts/partials/mobile/orders', locals: { cart: @cart }
    .hidden-xs
      = render partial: 'carts/partials/orders', locals: { cart: @cart }
    = render partial: 'carts/partials/order_summary', locals: { cart: @cart }
