%main.container
  %h2.text-center
    = t('.title')
  %p
    = t('.header')
    = succeed ',' do
      %a{ href: 'https://bookstore-rg-turvitan.herokuapp.com/' }
        = t('.brand')
  %p
    = t('.lines')
