.text-center
  %h3.general-subtitle
    = t('.new_customer')
  = render partial: 'homes/partials/checkout_login/omniauth_authorize'
  = simple_form_for(:user, url: registration_path(:user), html: { class: 'general-form' }) do |f|
    .mb-40
      %p.mb-5
        = t('.quick_register')
      %p.general-info-text.font-12.mb-20
        = t('.create_password_later')
      = f.label :email, t('.email')
      = f.input :email,
        required: true,
        autofocus: true,
        label: false,
        placeholder: t('.enter_email'),
        input_html: { autocomplete: :on }
    = f.button :submit, t('.continue_to_checkout')
