%p.in-gold-500.font-18
  = t('.order_summary')
%table.general-summary-table.general-summary-table-right.general-text-right
  %tr
    %td
      %p.font-16
        = t('.subtotal')
    %td
      %p.font-16
        = number_to_currency(order.subtotal_price)
  %tr
    %td
      %p.font-16
        = t('.coupon')
    %td
      %p.font-16
        = number_to_currency(order.coupon_discount)
  %tr
    %td
      %p.font-16
        = t('.shipping')
    %td
      %p.font-16
        = number_to_currency(order.delivery_price)
  %tr
    %td
      %strong.font-18
        = t('.order_total')
    %td
      %strong.font-18
        = number_to_currency(order.order_total)
