.row.mb-60
  .col-sm-5
    %p.in-gold-500.font-18.mb-25
      = t('.email')
    = render 'settings/partials/forms/email'
  .col-sm-5.col-sm-offset-1
    %p.in-gold-500.font-18.mb-25
      = t('.password')
    = render 'settings/partials/forms/password'
  .col-sm-12
    %p.in-gold-500.font-18.mb-25
      = t('.remove_account')
    = render 'settings/partials/forms/remove_account'
