.text-center
  %h3.general-subtitle
    = t('.returning_customer')
  = render partial: 'checkouts/partials/login/omniauth_authorize'
  = simple_form_for(:user, url: session_path(:user), html: { class: 'general-form' }) do |f|
    .mb-40
      %p.mb-15
        = t('.log_in_with_password')
      = f.label :email, t('.email')
      = f.input :email,
        required: true,
        autofocus: true,
        label: false,
        placeholder: t('.enter_email'),
        input_html: { autocomplete: :on }
      = f.label :password, t('.password')
      = f.input :password,
        required: true,
        autofocus: true,
        label: false,
        placeholder: t('.enter_password'),
        input_html: { autocomplete: :on }
      = link_to t('devise.sessions.new.forgot_password'), new_password_path(:user), class: 'help-block in-gold-500'
    = f.button :submit, t('.log_in_with_password')
