.row.book-description
  .col-sm-6
    .product-gallery
      .mb-20
        %img.img-responsive{ src: book_image_responsive }
      .images.clearfix
        %a.img-link{ href: '#' }
          %img{ src: book_image_link }
        %a.img-link{ href: '#' }
          %img{ src: book_image_link }
        %a.img-link{ href: '#' }
          %img{ src: book_image_link }
  .col-sm-6
    %h1.mt-res-0
      = book.title
    %p.lead.small
      = book.authors_list
    .row
      .col-xs-12.col-md-4
        %p.h1.in-gold-500.mt-10
          = number_to_currency(book.price)
      .col-xs-5.col-md-3
        .input-group.general-position
          %a.input-link#minus{ href: '#' }
            %i.fa.fa-minus.line-height-40
          %input.form-control.quantity-input{ type: 'text', value: 1 }
          %a.input-link#plus{ href: '#' }
            %i.fa.fa-plus.line-height-40
      .col-xs-7.col-md-5
        %button.btn.btn-default.pull-right.general-position
          = t('.button.add_to_cart')
    .general-info-wrap.divider-lg
      %p
        = t('.description')
      %p.lead.small.line-height-2
        %span.less-description
          = book.short_description
        - if book.more_description?
          %span.more-description
            = book.description
          %a.read-more.in-gold-500{ href: '#', for: 'more' }
            = t('.link.read_more')
          %a.read-less.in-gold-500{ href: '#', for: 'less' }
            = t('.link.hide')
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left
          = t('.publication_year')
        %p.lead.small.pull-right.publication_year
          = book.year_publication
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left
          = t('.dimensions')
        %p.lead.small.pull-right.dimensions
          = book.dimensions
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left
          = t('.materials')
        %p.lead.small.pull-right.materials
          = book.materials_list
