.row.book-description
  .col-sm-6
    .product-gallery
      .mb-20
        %img.img-responsive{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
      .images.clearfix
        %a.img-link{href: "#"}
          %img{src: "https://images.squarespace-cdn.com/content/v1/520b8498e4b021ed6a2b2c08/1440941946597-6021MJDPV2727IXF4K6X/ke17ZwdGBToddI8pDm48kDHPSfPanjkWqhH6pl6g5ph7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5dNb1QJw9casjKdtTg1_-y4jz4ptJBmI9gQmbjSQnNGng/image-asset.jpeg"}
        %a.img-link{href: "#"}
          %img{src: "https://images.squarespace-cdn.com/content/v1/520b8498e4b021ed6a2b2c08/1440941946597-6021MJDPV2727IXF4K6X/ke17ZwdGBToddI8pDm48kDHPSfPanjkWqhH6pl6g5ph7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5dNb1QJw9casjKdtTg1_-y4jz4ptJBmI9gQmbjSQnNGng/image-asset.jpeg"}
        %a.img-link{href: "#"}
          %img{src: "https://images.squarespace-cdn.com/content/v1/520b8498e4b021ed6a2b2c08/1440941946597-6021MJDPV2727IXF4K6X/ke17ZwdGBToddI8pDm48kDHPSfPanjkWqhH6pl6g5ph7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5dNb1QJw9casjKdtTg1_-y4jz4ptJBmI9gQmbjSQnNGng/image-asset.jpeg"}
  .col-sm-6
    %h1.mt-res-0
      = book.title
    %p.lead.small
      = book.authors_list
    .row
      .col-xs-12.col-md-4
        %p.h1.in-gold-500.mt-10
          = number_to_currency(book.price, unit: BookDecorator::CURRENCY)
      .col-xs-5.col-md-3
        .input-group.general-position
          %a#minus.input-link{href: "#"}
            %i.fa.fa-minus.line-height-40
          %input.form-control.quantity-input{type: "text", value: 1}
          %a#plus.input-link{href: "#"}
            %i.fa.fa-plus.line-height-40
      .col-xs-7.col-md-5
        %button.btn.btn-default.pull-right.general-position
          = t('buttons.add_to_cart')
    .general-info-wrap.divider-lg
      %p
        = t('book_page.description')
      %p.lead.small.line-height-2
        %span.less-description
          = book.short_description
        - if book.description.length > book.short_description.length
          %span.more-description
            = book.description
          %a.read-more.in-gold-500{href: "#", for: 'more'}
            = t('book_page.links.read_more')
          %a.read-less.in-gold-500{href: "#", for: 'less'}
            = t('book_page.links.hide')
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left
          = t('book_page.publication_year')
        %p.lead.small.pull-right.publication_year
          = book.published_at.year
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left
          = t('book_page.dimensions')
        %p.lead.small.pull-right.dimensions
          = book.dimensions
    .general-info-wrap.divider-lg
      .clearfix
        %p.pull-left
          = t('book_page.materials')
        %p.lead.small.pull-right.materials
          = book.materials_list
