%h3.in-gold-500.mb-25 #{t('.title')} (#{reviews.count})
- reviews.each do |review|
  .general-message-wrap.divider-lg
    .clearfix
      %span.img-circle.logo-size.inlide-block.pull-left.logo-empty
        = review.first_letter_username
      .ml-70
        %div
          .general-message-date.hidden-xs
            = review.creation_date
          .max-240
            .general-message-verified.pull-right
              = t('.verified_reviewer')
            .general-message-name
              = review.username
        .mb-15
          - ReviewForm::RATING_RANGE.each do |index|
            - if index <= review.rating
              %i.fa.fa-star.rate-star
            - else
              %i.fa.fa-star.rate-star.rate-empty
        %p.reviwer-message
          = review.text
