.mb-80.reviews
  %h3.in-gold-500.mb-25
    = t('.title')
  .general-message-wrap.divider-lg
    .clearfix
      %img.img-circle.logo-size.inlide-block.pull-left{ src: reviewer_image_logo }
      .ml-70
        %div
          .general-message-date.hidden-xs
            = t('.first.date')
          .max-240
            .general-message-verified
              = t('.first.verified')
            .general-message-name
              = t('.first.name')
        .mb-15
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
        %p.reviwer-message
          = t('.first.reviwer_message')
  .general-message-wrap.divider-lg
    .clearfix
      %span.img-circle.logo-size.inlide-block.pull-left.logo-empty
        = t('.second.logo_empty')
      .ml-70
        %div
          .general-message-date.hidden-xs
            = t('.second.date')
          .max-240
            .general-message-verified.pull-right
              = t('.second.verified')
            .general-message-name
              = t('.second.name')
        .mb-15
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star.rate-empty
        %p.reviwer-message
          = t('.second.reviwer_message')
