= simple_form_for(:review, url: reviews_path) do |f|
  %h3.in-gold-500.mb-25
    = t('.review')
  %p.general-info-text.has-error
    = t('.score')
  .mb-15
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
    %i.fa.fa-star.rate-empty
  .row
    .col-md-8
      .mb-40
        = f.input :title
        = f.input :text, as: :text
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :book_id, value: params[:id]
      .text-right
        = f.button :submit, t('.button.post')
