%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('.home'), root_path, class: 'nav-link home_link'
          %li
            = link_to t('.shop'), books_path, class: 'nav-link shop_link'
          - if user_signed_in?
            %li
              = link_to t('.orders'), cart_path, class: 'nav-link orders_link'
            %li
              = link_to t('.settings'), settings_path, class: 'nav-link settings_link'
          %li
            = link_to t('.privacy_policy'), privacy_policy_path, class: 'nav-link privacy_policy_link'
      .col-sm-3
        %p.general-nav-mail
          = t('.email')
        %p.general-nav-number
          = t('.phone')
        %ul.list-inline.general-align
          %li
            %a.facebook-link.nav-link{ href: '#' }
              %i.fab.fa-facebook-f{ 'aria-hidden': 'true' }
          %li
            %a.twitter-link.nav-link{ href: '#' }
              %i.fab.fa-twitter{ 'aria-hidden': 'true' }
          %li
            %a.google-link.nav-link{ href: '#' }
              %i.fab.fa-google-plus-g{ 'aria-hidden': 'true' }
          %li
            %a.instagram-link.nav-link{ href: '#' }
              %i.fab.fa-instagram{ 'aria-hidden': 'true' }
