%head
  %meta{ charset: 'UTF-8' }/
  %meta{ name: 'viewport', content: 'width=device-width' }/
  %meta{ description: 'Online book shop' }/
  %meta{ keywords: 'book, shop, rg, amazing, turvitan' }/
  %meta{ author: 'Vitalii Turzhanskyi' }/
  %title
    = t('.title')

  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
