%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar' }
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        = t('.brand')
      %a.shop-link.pull-right.visible-xs{ href: carts_path }
        %span.shop-icon
          %span.shop-quantity
            = cart.items_count
    %a.shop-link.pull-right.hidden-xs{ href: carts_path }
      %span.shop-icon
        %span.shop-quantity
          = cart.items_count
    .navbar-collapse.collapse.pl-30#navbar{ 'aria-expanded': 'false' }
      .visible-xs
        = render partial: 'layouts/partials/mobile/navigation', locals: { categories: categories }
      .hidden-xs
        = render partial: 'layouts/partials/navigation', locals: { categories: categories }
