%ul.nav.navbar-nav
  %li
    = link_to t('.home'), root_path, class: 'home_link'
  %li.dropdown
    %a.shop_link.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', role: 'button',
                                      'aria-haspopup': 'true', 'aria-expanded': 'false' }
      .fas.fa-book
      = t('.shop')
    %ul.dropdown-menu
      - categories.each do |category|
        %li
          = link_to category.name, books_path(category_id: category.id)
  - if current_user
    %li
      %a.my_account_link.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', role: 'button',
                                              'aria-haspopup': 'true', 'aria-expanded': 'false' }
        .fa.fa-user
        %b
          = username
      %ul.dropdown-menu
        %li
          = link_to order_path do
            .fas.fa-shopping-cart
            = t('.link.orders')
        %li
          = link_to settings_path do
            .fa.fa-cog
            = t('.link.settings')
        %li.divider{ role: 'separator' }
        %li
          = link_to destroy_user_session_path, method: :delete, class: 'log_out_link' do
            .fa.fa-sign-out-alt
            = t('.link.log_out')
  - else
    %li
      = link_to new_user_session_path, class: 'log_in_link' do
        .fas.fa-sign-in-alt
        = t('.link.log_in')
    %li
      = link_to new_user_registration_path, class: 'sign_up_link' do
        .fas.fa-user-plus
        = t('.link.sign_up')
