!!!
%html
  = render 'layouts/partials/head'

  %body
    = render partial: 'layouts/partials/header', locals: { presenter: @header_presenter }
    = render 'layouts/partials/flash'
    = yield
    = render 'layouts/partials/footer', cached: true
